<h1>Pictures (<%= @pictures.length %>)</h1>

<%= link_to "New User", new_users_path %>
|
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h1>Most Recent Pictures </h1>

<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>Older Pictures (<%= @created_before.length %>)</h1>

<ul>
  <% @created_before.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>2017 Pictures (<%= @pictures_created_in_year.length %>)</h1>

<ul>
  <% @pictures_created_in_year.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
